<!DOCTYPE html>
<html>
    <head>
        <title> XMEME APP </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/icon.jpg">
        <meta name="viewport" content="width = device-width , initial-scale=1"> 

    </head>

    <body>
        <p class="popup"> <%= message %> </p>
        <div class="details">
            <h1> MEME STREAM </h1>
            <form action="/add" method="POST">
                    <p> Enter name </p>
                    <input type="text" name="name" placeholder="Get enrolled to the page">
                
                    <p> Enter caption </p>
                    <input type="text" name="caption" placeholder="what's in your mind">
        
                    <p> Enter url </p>
                    <input type="url" name="url" id="url" placeholder="url...">
                
                <button id="mainbutton" type="submit"> submit </button> <br><br>
                

            </form>

                <section class="column">
                    <%if (records.length > 0) { %>
                        <% records.forEach(function(ele) { %>
                            <br>
                            <div class="card">
                                <img id="image" src="<%= ele.url %>">
                                <div  class="container">
                                    <p id="author"> <%= ele.name %></p>
                                    <p id="caption">  <%= ele.caption %></p>
                                </div>
                                <a class="delete" data-doc="<%= ele._id %>"> delete </a> <br>
                                <a class="update" href = "/update/<%= ele._id %>"> update </a>
                            </div>
                        <% }) }%>
                </section>
        </div>
        
        <!-- <p style="color: green;"> <%= message %> </p> -->
       <footer> Created by Ayush  </footer>

       <script>
            const trash = document.querySelectorAll('a.delete');
            const upd = document.querySelectorAll('a.update');
      
                for(let i of trash) {
                i.addEventListener('click' , (e) => {
                    const endpoint = '/delete/' + i.dataset.doc;
                    console.log(endpoint)

                    fetch(endpoint , {
                        method: 'DELETE'
                    })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch(err => console.log(err))
                })
            }
        </script>
    </body>

</html>
